{% extends 'bootstrap/base.html' %}
{#{% import '_macro.html' as ui %}#}

{% block title %}{{ title_name }}{% endblock %}

{% block content %}
    {#    <div class="page-header">#}
    {#        <div class="container">#}
    {#            <h1>{{ self.title() }}</h1>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="container">#}
    {#    {{  ui.input('username') }}#}
    {#    {{  ui.input('password',type='password') }}#}
    {#    </div>#}
{% endblock content %}

{#{% block head %}#}
{#    {{ super() }}#}
{#    {% include 'includes/_head.html' %}#}
{#{% endblock %}#}
{% block navbar %}
    {{ nav.top.render() }}
{% endblock %}
